body {
	background-color:#EAF6F6;


}

#wrapper {
	width: 80%;
	height:350px;
	background-image: linear-gradient(to left, #000000, #2f2494);
	margin-top:120px;
	border-radius: 50px;
	margin-left:220px;
	
}
input{
	border-radius:20px;
	padding:1em;
}

#btn {
	
	background-color:red;
	color:#fff;
	padding:12px;
	font-weight:bold;
	width:100px;
	border-radius:20px;


}
