body {
	background-color:#4d91e2;


}

#wrapper {
	
	width: 100%;
	text-align: center;
	border-radius: 40px;
	height:350px;
	padding: 1em;
	background-image: linear-gradient(to left, rgb(230, 217, 161), #10047a);
	margin-top:100px;
	margin-left:2px;
}
#number1, #number2{
	margin-top: 100px;
	margin-left:-5px;
	margin-right:5px;
	border-radius: 20px;

}
#btn:hover{
	background-color: rgb(189, 189, 211);
	color: black;
}
.place{
	width: 10vw;
	border-radius: 10px;
	outline: none;
}
#btn {
	background-image: linear-gradient(to right, rgb(230, 217, 161), #10047a);
	color:#fff;
	text-transform: capitalize;
	padding:1em;
	border: none;
	position: relative;
	bottom: 50px;
	cursor: pointer;
	border-radius: 20px;
	outline: none;
	width:30vw;
}
.signs, input{
	margin-top: 100px;
}
